
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.container-dev {
  display: flex;  
  flex-direction: row;
  background-color: #f5f5f5;
  height: 100vh;
}

.esquerda {
background-color: #2B3031;
padding: 1em 0em;
height: 100vh;
}

.box1 {
    display: flex;  
    flex-direction: row;
    padding: .6em 4em;
    align-items: center;
}

.icone-dev {
padding: 0em .4em;
}

.dev-school {
color: #EA10C7;
font: 700 1em Roboto;
}

.dev-school span {
    color: white;
    font: 700 1em Roboto;
}

.box2 {
    background-color: #262626;
    padding: .7em 2em;
    color: #262626;
}

.box3 {
    display: flex;  
    flex-direction: row;
    padding: .9em 2em;
    align-items: center;
    font: 500 1em Roboto;
    justify-content:space-between;
}

.texto-box3 {
    color: white;
}

.seta-baixo {

}

.box4 {
background-color: #fff;
padding: .9em 2em;
font: 600 1em Roboto;
box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
}

.texto-box4 {
color: #1a1a1a;
}

.direita {
    display: flex;  
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.cabecalho {
    display: flex;  
    flex-direction: row;
    background-color: #ffffff;
    padding: 1em;
    justify-content: space-between;
    margin: 0em 0em 1em 0em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
}

.cabecalho-esq {
    display: flex;  
    flex-direction: row;
    align-items: center;
}

.foto-perfil img {
padding: 0em .3em;
}

.circulo img {
    position:absolute; 
    top: 18px; 
    left: 19.4em;
}

.nome-prof {
    font: 500 0.8em Roboto;
    color: #615858;
}

.nome-prof span {
    font: 800 1em Roboto;
    color: #615858;
}

.cabecalho-dir {
    display: flex;  
    flex-direction: row;
}

.recarregar button {
    background-color: #986CDF;
    border-radius: 3em;
    border: none;
    padding: .8em .6em;
    margin-right: .3em;
}

.sair button {
    background-color: #986CDF;
    border-radius: 3em;
    border: none;
    padding: .6em;
}

.novo-aluno {
    display: flex;  
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5em;
    margin: 2em 1.8em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
}

.cab-aluno {
    display: flex;
    flex-direction: row;
}

.barra {
padding: 0em .7em;
}

.titulo1 {
    font: 700 1.6em Roboto;
    color: #3C3939;
    padding: 0em 0em 1em 0em;
}

.inputs {
display: flex;
flex-direction: row;
align-items: center;
}

.inputs-esq {
    display: flex;
    flex-direction: column; 
    padding: 0em 4em 0em 0em;
}

.inputs-dir {
    display: flex;
    flex-direction: column; 
    padding: 0em 2em 0em 0em;
}

.form {
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0em 0em 1em 0em;
}

.form input {
    border-radius: .3em;
    border: 1px solid #A8A8A8;
    width: 13em;
    height: 2.2em;
}

.form1 {
    display: flex;  
    flex-direction: row;
    align-items: center;
    margin-left: 1.2em;
    padding: 0em 0em 1em 0em;
}

.form1 input {
    border-radius: .3em;
    border: 1px solid #A8A8A8;
    width: 13em;
    height: 2.2em;
}

.nome {
    font: 600 .8em Roboto;
    color: #615858;
    margin-right: .4em;
}


.curso {
    font: 600 .8em Roboto;
    color: #615858;
    margin-right: .4em;
}

.chamada {
    font: 600 .8em Roboto;
    color: #615858;
}

.turma {
    font: 600 .8em Roboto;
    color: #615858;
    margin-right: .4em;
}

.cadastrar {
    align-self: flex-end;
    padding: 0em 0em 1em 0em;
}

.cadastrar button {
padding: .6em 1em;
border-radius: 1.2em;
background-color: #E911C6;
border: none;
color: white;
font: 500 .8em Roboto;
}

.cab-matriculados {
    display: flex;  
    flex-direction: row;
}

.matriculados {
    display: flex;  
    flex-direction: column;
    background-color: #ffffff;
    padding: 2em;
    margin: .3em 1.9em;
    box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
}

.titulo2 {
    font: 700 1.6em Roboto;
    color: #3C3939;
    padding: 0em 0em .7em 0em;
}

.tabela {
    
}

.linha-principal {
background-color: #986CDF;
color: white;
font: 500 .8em Roboto;
padding: 1em;
align-items: center;
}

.linha-tp1 {
    background-color: #f5f5f5;
    color: #6D6868;
    font: 500 .8em Roboto;
    text-align: center;
    padding: 1em;
    
}

.linha-tp2 {
    background-color: #ffffff;
    color: #6D6868;
    font: 500 .8em Roboto;
    text-align: center;
    padding: 1em;
}

.campos {
    padding: 1em;

}

.linhas {
    padding: 1em;
}

.botoes button {
    background-color: #565656;
    border: none;
    border-radius: 2em;
    padding: .6em;
    align-items: center;
}

table {
    border-collapse: collapse; 
}




